<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class='container'>
        <%= "Welcome to #{@user.username}'s Home Page" %><br/>
        <!-- <%= "This user has #{@user.follower_number } followers." %><br/>
        <%= "This user follows #{@user.followee_number} people."%><br/> -->
        <!-- <form action="/follow" method="POST">
            <input type="hidden" name="follow_id" value=<%= @user.id.to_s %>/>
            <input type="submit" value="Follow" />
        </form>

        <form action="/unfollow" method="POST">
            <input type="hidden" name="unfollow_id" value=<%= @user.id.to_s %>/>
            <input type="submit" value="Unfollow" />
        </form> -->

        <div id="follow_element">
            <%= "This user has {{ follower_number }} followers." %><br/>
            <button v-on:click="followUser(); follower_number += 1">Follow</button>
            <button v-on:click="unfollowUser(); follower_number -= 1">Unfollow</button>
        </div>
    </div>

    <script>
        window.addEventListener('load', function(){
            const app = new Vue({
                el: "#follow_element",
                data: {
                    follower_number: <%= @user.follower_number %>
                },
                methods:{
                    followUser(e){
                        axios.post("/follow/<%= @user.id %>")
                    },
                    unfollowUser(e){
                        axios.post("/unfollow/<%= @user.id %>")
                    }
                }
            })
        })
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
